<!DOCTYPE html>
<html lang="en">
  {% include 'layouts/partials/head.njk' %}
  <body>
    {% include 'layouts/partials/header.njk' %}
    {{ content | safe }}
    {% include 'layouts/partials/footer.njk' %}
    {#  
      We must split development  and production scripts
      In development, vite runs a server to resolve and reload scripts
      In production, the scripts are statically replaced at build-time 

      The build.env variable is assigned in src/_data/build.js
      @see https://vitejs.dev/guide/backend-integration.html#backend-integration
      @see https://www.11ty.dev/docs/data-js/#example-exposing-environment-variables
    #}
    {% if build.env == "production" %}
      {# We must read the production scripts from the Vite manifest. We defer that logic to a custom shortcode #}
      {% viteScriptTag "src/client/main.js" %}
      {% viteLegacyScriptTag "vite/legacy-polyfills" %}
      {% viteLegacyScriptTag "src/client/main-legacy.js" %}
    {% else %}
      <script type="module" src="http://localhost:3000/@vite/client"></script>
      <script type="module" src="http://localhost:3000/src/client/main.js"></script>
    {% endif %}
  </body>
</html>
